{% for user in mail_users %}
{{ user.username }}@{{ hostname }}:{{ user.password }}:{{ mail_user_uid }}:{{ mail_user_gid }}::/var/vmail/{{ user.username }}::userdb_quota_rule=*:storage={{ mail_quota }} userdb_acl_groups=PublicMailboxAdmins
{% endfor %}

