admin@{{ hostname }}  admin@{{ hostname }}
noreply@{{ hostname }}  admin@{{ hostname }}
root  noreply@{{ hostname }}
apache  norely@{{ hostname }}
{% for user in mail_users %}
{{ user.username }}@{{ hostname }}  {{ user.username }}@{{ hostname }}
{{ user.username }}  {{ user.username }}@{{ hostname }}
{% endfor %}
