# we want all wiki traffic to be over ssl
RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^/wiki(.*) https://%{SERVER_NAME}/wiki/$1 [R,L]

# this is the URL http://servername/mywiki/ you will use later to invoke moin:
WSGIScriptAlias /wiki "{{wiki_dir}}/moin.wsgi"

# The WSGI socket needs to be somewhere Apache has access to
WSGISocketPrefix /var/run/moin-wsgi

# in case you want your wiki under the root url (http://servername/), use this instead:
#Alias /robots.txt {{ wiki_dir }}/htdocs/robots.txt
#Alias /favicon.ico {{ wiki_dir }}/htdocs/favicon.ico
#WSGIScriptAlias / {{ wiki_dir }}/moin.wsgi

# create some wsgi daemons:
WSGIDaemonProcess moin user=apache group=apache processes=3 threads=5 maximum-requests=500 umask=0007 umask=0007 display-name=wsgi-moin

<Directory /var/www/wiki>
    # use the daemons we defined above to process requests!
    WSGIProcessGroup moin

# Use this block to restrict wiki access to specific IP addrs
#    <RequireAny>
#      Require ip 127.0.0.1
#    </RequireAny>
</Directory>
